<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <startup>
		<TargetFramework>net6.0-windows</TargetFramework>
		<UseWindowsForms>true</UseWindowsForms>
	</startup>

	<connectionStrings>
  <add name="connstrng" connectionString="Data Source=(local);Initial Catalog=certProject;Integrated Security=True;Encrypt=False" />
  <add name="CertProj.Properties.Settings.certProjectConnectionString"
   connectionString="Data Source=(local);Initial Catalog=certProject;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>